*.DS_Store
*.pdf
*.log
*.html
.env
.archive

cypress/videos
cypress/downloads
cypress/report
cypress/snapshots/actual
cypress/snapshots/diff

build/
mochawesome-report/
node_modules/
output/
log/
results/
